/*   color scheme   */
:root {
    --persian-indigo: #27187E;
    --cornflower-blue: #758BFD;
    --maximum-blue-purple: #AEB8FE;
    --cultured: #F1F2F6;
    --dark-orange: #FF8600;
}


body {
    background-color: var(--cornflower-blue);
    margin: 0px;
    align-content: center;
    font-family: monospace;
}

#header {
    color: var(--persian-indigo);
    background-color: var(--dark-orange);
    width: 100vw;
    height: 15vh;
    text-align: center;
    font-size: 12vh;
    font-family: monospace;
    font-weight: bold;
}

#PINInput {
    width: 50vw;
    height: 25vh;
    text-align: center;
    margin: 30vh 25vw 5vh;
    border-width: 0px;
    background-color: var(--maximum-blue-purple);
    color: var(--persian-indigo);
    font-size: 6vh;
    font-family: monospace;
    caret-color: var(--maximum-blue-purple);
}

#submit {
    width: 10vw;
    height: 8vh;
    text-align: center;
    font-family: monospace;
    font-size: 6vh;
    background-color: var(--persian-indigo);
    border-radius: 1vh;
    margin: 0px 45vw;
    color: var(--dark-orange);
}

#submit:hover {
    background-color: var(--maximum-blue-purple);
}

a {
    position: fixed;
    left: 1vw;
    bottom: 95vh;
    color: var(--persian-indigo);
    text-decoration: none;
    background-color: var(--cornflower-blue);
    width: 5vw;
    height: 3vh;
    border-radius: 1vw;
    text-align: center;
    font-family: monospace;
    font-size: 2.5vh;
}